@import "vars";
@import "fonts";
@import "reset";
@import "global";


.header {
  padding: 40px 0 40px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

.menu {

  &__list {
    display: flex;
  }

  &__list-item+.menu__list-item {
    padding-left: 35px;
  }

  &__list-link {
    padding-bottom: 2px;
    color: $title;
    text-transform: uppercase;
    transition: all 0.4s;

    &:hover {
      color: $accent;
      border-bottom: solid 1px $accent;
    }
  }

  &__list-link--active {
    color: $accent;
    border-bottom: solid 1px $accent;
  }

}

.user-nav {
  display: flex;

  &__link {
    position: relative;
  }

  &__link+.user-nav__link {
    padding-left: 25px;
  }

  &__num {
    background-color: $accent;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -13px;
    right: -13px;
    border-radius: 25px;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    align-items: center;
    line-height: 20px;
  }
}

.footer {
  background-color: $bg;

  
}

.footer-top {
  padding: 70px 0 40px;
  border-bottom: 1px solid #ececec;
  display: flex;

  &__contact {
    margin-right: 50px;
    width: 230px;
  }

  &__nav {
    width: 170px;
    margin-right: 30px;
  }

  &__item-form {
    max-width: 470px;
  }

  &__logo {
    margin-bottom: 35px;
  }

  &__adress,
  &__email,
  &__phone {
    display: block;
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 36px;
    font-size: 22px;
    color: #29282d;
    line-height: 1;
  }

  &__social-list {
    display: flex;
    margin-top: 30px;
    align-items: center;
  }

  &__social-item {
    margin-right: 18px;
  }

  &__social-link {
    transition: all 0.3s;

    path {
      fill: $default;
    }

    &:hover {
      path {
        fill: $accent;
      }

    }
  }

  &__text {
    margin-bottom: 25px;
  }


  &__form-input {
    background-color: #ffffff;
    max-width: 320px;
    width: 100%;
    border: none;
    padding: 10px;
    margin-right: 10px;
    box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);
  }

  &__form-btn {
    color: #ffffff;
    padding: 10px 20px;
    text-transform: uppercase;
    border: none;
    background-color: $accent;
    cursor: pointer;
    box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
  }
}

.footer-bootom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 30px;
  font-size: 12px;

  &__copy {}

  &__accept {
    display: flex;
    align-items: center;
  }

  &__accept-img {
    padding-left: 25px;
    height: 20px;
  }
}





































@import "media";